.movie-details__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    padding: 20px 0;
}

.movie-details__poster-section {
    width: 40%;
}

.movie-details__poster-section, .movie-details__description ,.movie-details__select {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}


.movie-details__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-details__share {
    color: #3686ff;
}

.movie-details__description {
    width: 50%;
}

.movie-details__synopsis {

}

.movie-details__trailer {
    padding: 15px 0;
    border: 1px solid #e8e8e8;
    border-right: 0;
    border-left: 0;
}

.movie-details__trailer a {
    color: #3686ff;
}