.movie-details__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-content: stretch;
    align-items: stretch;
    padding: 20px 0;
}

.movie-details__poster-section {
    width: 40%;
}

.movie-details__poster-section, .movie-details__description ,.movie-details__select {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}


.movie-details__header-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movie-details__share {
    color: #3686ff;
}

.movie-details__description {
    width: 50%;
}

.movie-details__synopsis {

}

.movie-details__genre {

}

.movie-details__trailer {
    padding: 15px 0;
    border: 1px solid #e8e8e8;
    border-right: 0;
    border-left: 0;
}

.movie-details__trailer a {
    color: #3686ff;
}

.movie-details__nav {
    margin: 0;
    background: #2569d0;
    color: #ffffff;
    padding: 10px;
}

.movie-details__nav__item {
    font-size: 0.8rem;
    display: inline-block;
    padding: 0 10px;
}

.movie-details__nav__item:first-child {
    padding-left: 0;
}

.movie-details__nav__item--active {
    font-weight: bold;
}

.movie-details__ratings {
    width: 100%;
    line-height: normal;
    font-size: 0.8rem;
    padding: 5px 10px;
}

.movie-details__ratings p {
    margin: 0;
}

.movie-details__ratings:last-child {
    border-left: 1px solid #e8e8e8;
}

.movie-details__ratings__wrapper {
    display: flex;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.movie-details__nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}