.slider {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.slider__item {
    width: 294px;
    padding: 0 5px;
    height: 160px;
    position: relative;
    float: left;
}
.slider__item:first-child {
    padding-left: 0;
}

.slider__items {
    position: relative;
    height: 100%;
    width: 9999%;
    padding: 0;
    margin: 0;
    -webkit-transition: all 750ms ease;
    transition: all 750ms ease;
    left: 0;
}

.slider__prev, .slider__next{
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 35%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.slider__prev:hover, .slider__next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0;
}
.slider__prev {
    left: 10px;
}
.slider__next {
    right: 10px;
}
